# Dependencies
node_modules/
.pnp/
.pnp.js

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Logs and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.log
*.tgz

# IDE and Editor files
.idea/
.vscode/
*.swp
.DS_Store

# Build artifacts
dist/
build/
*.tsbuildinfo

# Optional: Add any other specific sensitive file names here
# sensitive_data.json
